@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  min-height: 100% !important;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.ant-spin-dot-item {
  background-color: #D3E3FD !important;
}

.ant-input::placeholder {
  color: #f2f2f2;
}

/* Show password icon on input */
:where(.css-dev-only-do-not-override-1peozn).ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: #96A7BF
}
:where(.css-dev-only-do-not-override-1peozn).ant-input-affix-wrapper .anticon.ant-input-password-icon:hover {
  color: #f2f2f2;
}
/* Exit icon on modal */
:where(.css-dev-only-do-not-override-1peozn).ant-modal .ant-modal-close{
  color: #96A7BF;
}
:where(.css-dev-only-do-not-override-1peozn).ant-modal .ant-modal-close:hover{
  color: #f2f2f2;
}

.custom-scrollbar {
  /* Add a custom style to change the scrollbar color */
  /* scrollbar-width: thin; Firefox */
  /* scrollbar-color: hsl(215, 24%, 67%, 0.4) red; Change these colors to your desired scrollbar and track colors */

  /* WebKit (Chrome, Safari, and newer versions of Edge) */
  &::-webkit-scrollbar {
    width: 8px;
    opacity: 0.5;

  }

  &::-webkit-scrollbar-thumb {
    background-color:hsl(215, 24%, 67%);
    border-radius: 6px;
    opacity: 0.5;

  }

  &::-webkit-scrollbar-track {
    opacity: 0.5;

  }
}

@layer base {
  body {
    @apply font-poppins;
    @apply bg-primary;
    @apply text-white text-[16px];
  }
}

@layer utilities {
  .header-text {
    @apply text-[32px];
  }

  .subtitle-text {
    @apply text-[21px];
  }

  .small-text {
    @apply text-[12px];
  }

  .input-style {
    @apply bg-primary-light text-white border-transparent
  }
  
  .debug-1 {
    @apply border-2 border-red-500;
  }

  .debug-2 {
    @apply border-2 border-green-500;
  }

  .debug-3 {
    @apply border-2 border-blue-500;
  } 
}



