@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-poppins;
    @apply bg-primary;
    @apply text-white text-[16px];
  }
}

@layer utilities {
  .header-text {
    @apply text-[32px];
  }

  .subtitle-text {
    @apply text-[21px];
  }

  .small-text {
    @apply text-[12px];
  }
}


